<!-- SKILL -->
<div class='container-fluid skillContainer'>
  <h4 class='m-0 ms-2'>Hard & Soft Skills</h4>
  <div class='text-center skillContainerTab'>

    <!-- Btn Add -->
    <div class='d-flex justify-content-end'>
      <button *ngIf="isLoggedIn" type="button" class="btn btn-success btn-edicion mb-2 rounded-5"
        (click)="onOpenModal('add')" data-bs-toggle="modal" data-bs-target="#addSkillModal">Agregar
      </button>
    </div>

    <div class='divSkill row p-4 align-items-center' *ngFor="let skill of skills">
      <div class="divSkillDos align-items-center">

        <img class='logoSkill me-2' src="{{skill.imagenSkill}}" alt="Logo {{skill.nombreSkill}}">

        <div class="progress bg-secondary col-8" role="progressbar" aria-label="Animated striped" aria-valuemin="0"
          aria-valuemax="100" style="height: 20px">
          <div class="ps-2 text-start progress-bar" [style.width.%]='skill.porcentajeSkill'>
            {{skill.nombreSkill}}
            {{skill.porcentajeSkill}}%
          </div>
        </div>



        <!-- Btn Edit -->
        <div *ngIf="isLoggedIn" class='divSkillBtn col text-end'>
          <button (click)="onOpenModal('edit', skill)" class='btn tooltips me-1 btn-sm p-0' data-placement='top'
            data-bs-toggle='modal' data-original-title='Edit' data-bs-target="#editSkillModal">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>

          <!-- Btn Delete -->
          <button class='btn tooltips btn-sm p-0' data-placement='top' data-bs-toggle='modal'
            data-bs-target="#deleteSkillModal" data-original-title='Delete' (click)="onOpenModal('delete', skill)">
            <i class="fa-regular fa-circle-xmark"></i>

          </button>
        </div>
      </div>
    </div>


    <!-- MODAL CREAR -->
    <div class='modal fade text-start' id='addSkillModal' tabindex='-1' role='dialog'
      aria-labelledby='addSkillModalLabel' aria-hidden='true'>

      <div class='modal-dialog' role='document'>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class='modal-title fs-5' id='addSkillModalLabel'>Agregar Skill</h5>
            <button type='button' class='btn-close' data-bs-dismiss="modal" aria-label='Close'>
              <span aria-hidden='true'></span>
            </button>
          </div>
          <div class="modal-body">

            <form #addForm='ngForm' (ngSubmit)="onAddSkill(addForm)">

              <!-- Titulo -->
              <div class="mb-3">
                <label for="nombreSkill" class='col-form-label ps-2'>Nombre:</label>
                <input type="text" ngModel name='nombreSkill' class='form-control' id='nombreSkill' placeholder='Nombre'
                  required>
              </div>

              <!-- Imagen (imagenSkill) -->
              <div class="mb-3">
                <label for="imagenSkill" class='col-form-label ps-2'>Imagen URL</label>
                <input type="text" ngModel name='imagenSkill
                ' class='form-control' id='imagenSkill' placeholder='imagenSkill' required>
              </div>
              <!-- Porcentaje -->
              <div class="mb-3">
                <label for="porcentajeSkill" class='col-form-label ps-2'>Porcentaje</label>
                <input type="text" ngModel name='porcentajeSkill' class='form-control' id='porcentajeSkill'
                  placeholder='Porcentaje Skill' required>
              </div>
              <!-- Botón Cerrar -->
              <div class="modal-footer">
                <button type='button' id='add-skill-form' class='btn btn-secondary' data-bs-dismiss="modal">
                  Cerrar
                </button>

                <button [disabled]="addForm.invalid" type='submit' class='btn btn-primary'>
                  Guardar
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>

    <!-- MODAL EDITAR -->
    <div class="modal fade" id="editSkillModal" tabindex="-1" role="dialog" aria-labelledby="skillEditModalLabel"
      aria-hidden="true">
      <!--  -->
      <div class="modal-dialog text-start" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateSkillModalLabel">Editar Skill</h5>
            <button type='button' class='btn-close' data-bs-dismiss="modal" aria-label='Close'>
            </button>
          </div>
          <!-- Nombre -->
          <div class="modal-body">
            <form #editForm="ngForm">
              <div class="form-group">
                <label for="tituloSkill">Nombre</label>
                <input type="text" ngModel="{{editSkill?.nombreSkill}}" name="nombreSkill" class="form-control"
                  id="nombreSkill" aria-describedby="emailHelp" placeholder="Nombre">
              </div>
              <!-- ID -->
              <input type="hidden" ngModel="{{editSkill?.idSkill}}" name="idSkill" class="form-control" id="idSkill"
                placeholder="idSkill">

              <!-- Img -->
              <div class="form-group">
                <label for="imagenSkill">Imagen URL</label>
                <input type="text" ngModel="{{editSkill?.imagenSkill}}" name="imagenSkill" class="form-control"
                  id="imagenSkill" placeholder="imagenSkill">
              </div>
              <!-- Porcentaje -->
              <div class='form-group'>
                <label for="porcentajeSkill">Porcentaje Skill</label>
                <input type="text" ngModel="{{editSkill?.porcentajeSkill}}" name="porcentajeSkill" class="form-control"
                  id="porcentajeSkill" placeholder="porcentajeSkill">
              </div>
              <!-- Cancelar -->
              <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-danger ">Cancelar</button>
                <!-- Guardar Cambios -->
                <button (click)="onUpdateSkill(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary">Guardar
                  Cambios</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete -->
    <div data-bs-toggle="modal" data-bs-target="#deleteSkillModal" class='modal fade' id='deleteSkillModal'
      tabindex='-1' role='dialog' aria-labelledby='deleteModelLabel' aria-hidden='true'>

      <div class='modal-dialog' role='document'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='deleteModelLabel'>Eliminar Skill</h5>
            <button type='button' class='close btn-close' data-bs-dismiss="modal" aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
            </button>
          </div>
          <div class='modal-body'>
            <p>¿Estás seguro de eliminar el item?</p>
          </div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-secondary' data-bs-dismiss="modal">
              No
            </button>
            <button (click)="onDeleteSkill(deleteSkill!.idSkill)" class='btn btn-danger' data-bs-dismiss="modal">
              Si
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Notificacion -->
    <div *ngIf="skills?.length == 0" class='col-lg-12 m-4'>
      <div class='alert alert-info' role='alert'>
        <h5 class='alert-heading'>Sección Skills Vacía</h5>
        <p>No se han encontrado items para mostrar</p>
      </div>
    </div>
  </div>
</div>