.divUsuario {
  display: flex;
  flex-direction: column;
}

.divDosUsuario {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.containerImages {
  display: flex;
  align-items: center;
}

.imagenBanner {
  z-index: 1;
  max-height: 180px;
  width: 100vw;
  object-fit: cover;
}

.fotoPerfil {
  position: absolute;
  width: 90px;
  z-index: 2;
  margin-left: 2rem;
}

.corchete {
  font-size: 1.1em;
}
h4 {
  margin: 0;
  padding-left: 0.5rem;
}

.acercaDe {
  padding: 1rem;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .divDosUsuario {
    padding: 0 8% 2rem 8%;
  }

  .fotoPerfil {
    position: absolute;
    width: 120px;
    z-index: 2;
    margin-left: 8%;
  }
}

@media only screen and (min-width: 900px) {
  .fotoPerfil {
    width: 150px;
    margin-left: 15%;
  }

  .divDosUsuario {
    padding: 0 15% 2rem 15%;
  }
}
