.bannerUno {
  background-color: var(--color-darkGray);
  height: 50px;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconArgProg {
  height: 35px;
}

.icons {
  height: 25px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  background-color: var(--color-darkBlack);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.socialIcons a {
  text-decoration: none;
}

.btnIngresar {
  height: 25px;
  text-align: center;
  justify-content: center;
  padding: 0 0.5rem;
  border-radius: 20px;
}

@media only screen and (min-width: 600px) {
  .bannerUno {
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
  }
}
