<!-- BANNER UNO -->
<div class="bannerUno">

  <img class='iconArgProg' src='{{bannerUno.imgInstitucional}}' alt="Logotipo Argentina Programa">


  <div class='socialIcons'>



    <a href="https://www.linkedin.com/in/emanuel-escudero-657675b7/" nonopener nonreferrer target='_blank'>
      <img class='icons me-2' src={{bannerUno.iconLinkedIn}} alt="Icono de LinkedIn">
    </a>
    <a href="https://github.com/escuderoemanuel" nonopener nonreferrer target='_blank'>
      <img class='icons me-2' src={{bannerUno.iconGithub}} alt="Icono de GitHub">
    </a>
    <a href='mailto:escudero.mdz@gmail.com' nonopener nonreferrer target='_blank'>
      <img class='icons me-2' src={{bannerUno.iconEmail}} alt="Icono de Email">
    </a>
    <a href="#" nonopener nonreferrer>
      <button type="button" class="btnIngresar btn btn-primary">Entrar</button>
    </a>
  </div>
</div>