.educacionContainer {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.educacionContainerTab {
  padding: 0.5rem;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}

.divEducacion {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 1rem;
}

.logoEdu {
  width: 16px;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 600px) {
  .educacionContainer {
    padding: 0 8% 2rem 8%;
  }
}

@media only screen and (min-width: 900px) {
  .educacionContainer {
    padding: 0 15% 2rem 15%;
  }

  .educacionContainerTab {
    padding: 0.5rem 1rem;
  }

  .divEducacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
