* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Lato, Ubuntu, san sans-serif;
  color: var(--color-darkGray);
}

:root {
  --color-darkBlack: #242424;
  --color-gray: gray;
  --color-white: whitesmoke;
  --color-blue: #0d6efd;
  --color-darkGray: #343a40;
  --color-orange: #fd7e14;
  --color-yellow: #ffc107;
  --color-green: #198754;
}

i {
  cursor: pointer;
}
