.experienceContainer {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.experienceContainerTab {
  padding: 0.5rem;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}

.divExperience {
  display: flex;
  flex-direction: column;
  text-align: start;
  border-bottom: 1px solid var(--color-gray);
}

.logoExp {
  width: 16px;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 900px) {
  .experienceContainerTab {
    padding: 0.5rem 1rem;
  }

  .divExperience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 600px) {
  .experienceContainer {
    padding: 0 5% 2rem 5%;
  }
}
